.portfolio{

	.sidebar{
		background-color: red;
		height: 100%;
		width: 300px;
		position: fixed;
		top: 0;
		box-shadow: inset -12px 0 16px -8px rgba(0,0,0,.3);
		z-index: 800;
	}

	.content{
		margin-left: 300px;
		padding:21px;
	}

}